@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 210 50% 98%;
    --foreground: 217 33% 17%;

    --card: 0 0% 100%;
    --card-foreground: 217 33% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 217 33% 17%;

    --primary: 215 98% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 71% 53%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 16% 88%;
    --muted-foreground: 215 25% 27%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 215 98% 30%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217 33% 17%;
    --foreground: 210 40% 98%;

    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 217 33% 17%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 217 33% 17%;

    --secondary: 217 71% 53%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 215 98% 30%;

    --radius: 0.5rem;
  }
}